*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: justify;
    width: 500px;
    background: #df4580bb;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    border-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(0, 0, 0);
}

.container h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

.container .controls{
    font-size: 17px;
}

body{
    background-image:url(fondo.png);
    background-size:auto;
}
